@font-face {
    font-family: 'Uni Neue';
    src: url('UniNeueRegular.woff2') format('woff2'),
    url('UniNeueRegular.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}